@(links : List[Link], urlForm: Form[models.Link])

@import helper._

@main("Welcome to Play") {

<p>Current links amount: @links.length</p>

<ul>
        @links.map { link =>
            <li>
                @link.url; @link.description; tags=&#123;@link.tags.map { tag =>
                	@tag;
                	}&#125;
                
            
            </li>
        }
    </ul>
   
   <h2>Add a new link</h2>
    
    @form(routes.LinksController.create) {
        
       <p>URL = @inputText(urlForm("url"))</p>
       <p>Desc = @inputText(urlForm("description"))   
        <input type="submit" value="Create">
        
    }
           
}
